[Unit]
Description=Redis Master
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill redis-master
ExecStartPre=-/usr/bin/docker rm redis-master
ExecStartPre=/usr/bin/docker pull redis
ExecStart=/usr/bin/docker run --name redis-master -p 6379:6379 redis
ExecStop=/usr/bin/docker stop redis-master

[X-Fleet]
Conflicts=redis-slave@*.service