[Unit]
Description=Redis Slave
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill redis-slave
ExecStartPre=-/usr/bin/docker rm redis-slave
ExecStartPre=/usr/bin/docker pull johscheuer/redis-slave:v1
ExecStart=/bin/sh -c "/usr/bin/docker run --name redis-slave -e REDISMASTER_PORT_6379_TCP_ADDR=$(/usr/bin/etcdctl get /services/db/redis-master/host) -e REDISMASTER_PORT_6379_TCP_PORT=$(/usr/bin/etcdctl get /services/db/redis-master/port) -p 6379:6379 johscheuer/redis-slave:v1"
ExecStop=/usr/bin/docker stop redis-slave

[X-Fleet]
Conflicts=redis-master.service
Conflicts=redis-slave@*.service
